@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
  font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar, .message-section::-webkit-scrollbar {
  display: none;
}
.messages {
  max-height: 100dvh;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.loader {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.sidebar{
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  .sidebar {
   grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 1300px) {
   .sidebar {
    grid-template-columns: 1fr 3fr
   }
}

